body{
    font-family: Mulish;
}

.nav_bar{
    width: 1440px;
    height: 84px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo{
    position: absolute;
    width: 95px;
    height: 84px;
    left: 5px;
    top: 7px;
    background-image: url("images/medbc_logo.PNG");
}

.btn-connect_wallet{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    gap: 12px;
    position: absolute;
    width: 160px;
    height: 45px;
    left: 1240px;
    top: 20px;
    background: #FDA4BA;
    border-radius: 50px;
}

.part2{
    background-image: url("images/bg.jpg");
    height: 840px;
    width: 1440px;
    background-repeat: no-repeat;
    background-size: auto;
}

.text-connect_wallet{
    width: 140px;
    height: 23px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-all{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 414px;
    height: 25px;
    left: 754px;
    top: 30px;
}

.text-home{
    width: 56px;
    height: 25px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;
}

.text-how_it_works{
    width: 129px;
    height: 25px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-faqs{
    width: 51px;
    height: 25px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.text-about_us{
    width: 88px;
    height: 25px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;
    flex: none;
    order: 3;
    flex-grow: 0;
}